.root {
  padding: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dayList {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.dayButton {
  margin-right: 12px;
}

.mapWrapper {
  flex: 1;
  margin-bottom: 16px;
  min-height: 0;
}
